/* ボタンリストをスタイリッシュに */

body {
  background-color: #676cb1;
  /* -webkit-text-fill-color: black; */

  text-align: center;

  min-height: 100lvh;
}

/* タブコンテナのスタイル */
.tab-container {
  display: flex;
  border-bottom: 2px solid #ccc; /* タブコンテナの下線 */
}

/* ボタンの基本スタイル */
.tab-button {
  background-color: transparent;
  border: none;
  width: 50%;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  position: relative;
  transition: color 0.3s;
}

/* ボタンホバー時のスタイル */
.tab-button:hover {
  color: #e8e8e8;
}

/* 非選択タブの下線 */
.tab-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s, height 0.3s;
}

/* 選択中のタブ（.active）のスタイル */
.tab-button.active {
  color: #ffffff;
}

.tab-button.active::after {
  background-color: #fff; /* 下線の色を白に設定 */
  height: 4px; /* 下線の太さを調整 */
}
