/* ボタンリストをスタイリッシュに */

:root {
  --primary-color: #676cb1;
}

body {
  background-color: var(--primary-color);
  text-align: center;
  min-height: 100lvh;
}

body::before,
body::after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: fixed;
  left: 0;
  z-index: -1;
}
body::before {
  top: 0;
  background-color: var(--primary-color);
}
body::after {
  bottom: 0;
  background-color: var(--primary-color);
}

/* タブコンテナのスタイル */
.tab-container {
  display: flex;
  border-bottom: 2px solid #ccc; /* タブコンテナの下線 */
}

/* ボタンの基本スタイル */
.tab-button {
  background-color: transparent;
  border: none;
  width: 50%;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  position: relative;
  transition: color 0.3s;
}

/* ボタンホバー時のスタイル */
.tab-button:hover {
  color: #e8e8e8;
}

/* 非選択タブの下線 */
.tab-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s, height 0.3s;
}

/* 選択中のタブ（.active）のスタイル */
.tab-button.active {
  color: #ffffff;
}

.tab-button.active::after {
  background-color: #fff; /* 下線の色を白に設定 */
  height: 4px; /* 下線の太さを調整 */
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
  user-select: none;
}
